name: Deploy to Firebase

    on:
      push:
        branches:
          - main

    jobs:
      deploy:
        runs-on: ubuntu-latest
        steps:
          - name: Checkout code
            uses: actions/checkout@v3

          - name: Authenticate with Google Cloud
            uses: 'google-github-actions/auth@v2'
            with:
              credentials_json: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_LAS_CARD }}'

          - name: Install Firebase Tools
            run: npm install -g firebase-tools

          - name: Install dependencies for functions
            run: cd functions && npm install

          - name: Deploy to Firebase
            run: firebase deploy --only hosting,functions --project las-card
            env:
              GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
