
    name: Deploy to Firebase

    on:
      push:
        branches:
          - main

    jobs:
      deploy:
        runs-on: ubuntu-latest
        steps:
          - name: Checkout code
            uses: actions/checkout@v3

          - name: Install Node.js
            uses: actions/setup-node@v3
            with:
              node-version: '18'

          - name: Install dependencies for functions
            run: cd functions && npm install

          - name: Deploy to Firebase
            uses: w9jds/firebase-action@master
            with:
              action: deploy
              project_id: 'las-card'
              # We don't need a token, we use a service account
            env:
              FIREBASE_TOKEN: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_LAS_CARD }}
              GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
    
